body,
p,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h5 {
    font-size: 0.8em;
}

p, li, td {
    font-size: 0.8em;
}

body {
    font-family: var(--font-primary);
    padding-top: 110px;
}

:root {
    --header-width: 81.3rem;
    --user-box-width: 125px;
    --nav-category-width: 16%;
    --container-width: var(--header-width);
    --submenu-height: 400px;

    --font-primary: 'Open Sans';
    --font-weight-reg: 300;
    --font-weight-bold: 700;
    --font-size-small: 13.5px;
    --font-size-big: 15px;
    --font-size-h1: 1.7em;
    --font-size-h2: 1.2em;

    --color-white: #fff;
    --color-black: #000;
    --color-grey: rgb(172, 172, 172);
    --color-light-grey: #e5e5e5;
    --color-dark-grey: rgb(137, 137, 137);
    --color-cool-blue: #0090e3;
    --color-dark-blue: #285dab;
    --color-lighter-blue: #f2f7fc;
    --color-light-blue: #cce9f9;
    --color-cool-blue-hover: #199be5;
    --color-orange: #ff6600;
    --color-green: #00b900;
    --color-dark-green: #009900;
    
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --gap: 2.5rem;

    --border-light: 1.2px solid var(--color-light-grey);
    --border-dark: 1.2px solid var(--color-dark-grey);

    --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    --border-radius: 4px;
}

a {
    font-size: 13px;
    color: var(--color-cool-blue);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    width: var(--container-width);
}

.grid-container {
    width: var(--container-width);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    margin-bottom: 12px
}

.col-12 {
    grid-column: span 12;
}

.col-10 {
    grid-column: span 10;
}

.col-10.centered {
    grid-column: 2 / 12;
}

.col-7 {
    grid-column: span 7;
} 

.col-8 {
    grid-column: span 8;
}

.col-8.centered {
    grid-column: 3 / 11;
}

.col-6 {
    grid-column: span 6;
}

.col-6.centered {
    grid-column: 4 / 10;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-2 {
    grid-column: span 2;
}

.col-7 + .col-4 {
    grid-column: 9 / 13;
}

.col-3 + .col-8 {
    grid-column: 5 / 13;
}

.col-5 + .col-6 {
    grid-column: 6 / 13;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: inline-block;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.padding-sm {
    padding: var(--padding-sm);
}

.padding-md {
    padding: var(--padding-md);
}

.padding-lg {
    padding: var(--padding-lg);
}

.padding-xl {
    padding: var(--padding-xl);
}

.margin-top-sm {
    margin-top: 0.5em;
}

.margin-top-md {
    margin-top: 1em;
}

.margin-top-lg {
    margin-top: 1.5em;
}

.margin-bottom-sm {
    margin-bottom: 0.5em;
}

.margin-bottom-md {
    margin-bottom: 1em;
}

.margin-bottom-lg {
    margin-bottom: 1.5em;
}

.margin-right-xs {
    margin-right: 0.25em;
}

.margin-right-sm {
    margin-right: 0.5em;
}

.margin-right-md {
    margin-right: 1em;
}

.border {
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius);
    padding: 25px;
}

.divider {
    padding-right: 15px;
    border-right: 1px solid var(--color-light-grey);
    margin-right: 15px;
}

.border-bottom {
    border-bottom: var(--border-light);
}

.icon {
    width: 28px;
    height: 28px;
    color: var(--color-white);
}

.icon--12 {
    width: 12px;
    height: 12px;
}

.icon--14 {
    width: 14px;
    height: 14px;
}

.icon--16 {
    width: 16px;
    height: 16px;
}

.icon--20 {
    width: 20px; 
    height: 20px;
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.icon__search {
    color: var(--color-cool-blue);
    padding-right: 10px;
}

.icon__arrow {
    margin-left: 4px;
    margin-right: auto;
}

.icon__info {
    display: flex;
    fill: var(--color-cool-blue);
    margin-left: 5px;
}

.icon__usp {
    color: var(--color-green);
    margin-right: 9px;
}

/* USP BAR */

.usp-bar {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.usp-bar-inner {
    width: var(--header-width);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.usp-bar__items {
    display: flex;
    flex-direction: row;
}

.usp-bar__items a {
    color: var(--color-black);
    padding-right: 22px;
}

.usp-bar__items a:hover {
    color: var(--color-cool-blue);
}

.usp-bar__item {
    display: flex;
    flex-direction: row;
}

.orange {
    color: var(--color-orange);
    font-weight: 900;
}

.usp-bar__menu-items {
    display: flex;
    flex-direction: row;
}

.usp-bar__menu-item {
    color: var(--color-cool-blue);
    font-weight: 900;
}

.usp-bar__menu-item.padding {
    padding: 0px 15px;
}

.usp-bar__menu-item:hover {
    text-decoration: underline;
}

/* STICKY BAR */

.sticky-bar {
    position: fixed;
    background-color: var(--color-white);
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 20px 10px 20px #888;
}

/* TOP NAVIGATION */

.top-navigation {
    display: flex;
    background-color: var(--color-lighter-blue);
    border-radius: var(--border-radius);
}

.top-navigation__item {
    padding: 10px 15px;
}

/* CARD */

.card {
    display: flex;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.card_content {
    color: var(--color-white);
    width: 40%;
}

.card__text {
    padding: 5px 20px 15px 20px;
    height: 100%;
}

.img--big {
    width: 60%;
}

.img--small {
    width: 50%;
}

.card--blue {
    background-color: var(--color-cool-blue);
    border: 1px solid var(--color-cool-blue);
}

.card--light {
    border: 1px solid var(--color-light-grey);
}

.card--light h2, .card--light p {
    color: var(--color-cool-blue);
}

.card--small {
    padding: 0px;
    flex-direction: column;
    /* height: 100%; */
}

.img-container {
    background-color: var(--color-lighter-blue);
    width: 100%;
}

.card--small img {
    width: 100%;
    object-fit: contain;
    height: 145px;
    object-position: bottom;
} 

.card--small .card_content {
    width: 100%;
    text-align: center;
}

.card--small .card_title {
    font-size: 0.8em;
    height: 30px;
    margin-top: 10px;
}

.card:hover {
    border-color: var(--color-grey);
}

/* IMG */

img {
    height: 100%;
}

/* BREADCRUMBS */

.breadcrumb {
    padding-right: 15px;
    border-right: 1px solid var(--color-grey);
    margin-right: 15px;
}

/* OPTION */

.option-container {
    display: flex;
    margin-left: -5px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-light-grey);
    border-radius: 3px;
    padding: 9px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 5px;
    color: var(--color-black);
}

.option:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid var(--color-grey);
    text-decoration: none;
}

.option__img {
    padding: 0px 5px; 
}

.option--full-width {
    width: 100%;    
}

.option--with-img {
    height: 40px;
}

.option--selected, 
.option--selected:hover {
    border: 2px solid var(--color-cool-blue);
    background-color: var(--color-lighter-blue);
    box-shadow: none;
    cursor: unset;
}

/* ANCHOR LINKS */

.anchor-links {
    border-bottom: 1px solid var(--color-light-grey);
}

.anchor-links__item {
    padding: 15px 20px;
}

/* SPECS TABLE */

.specs {
    border-collapse: collapse;
    width: 100%;
}

.specs td {
    padding: 7px;
}

.specs__attribute  {
    padding: 7px 35px 7px 7px;
}

.specs__icon-container {
    width: 2%;
}

.specs__value {
    width: 60%;
}

.specs tr:nth-child(odd) {
    background-color: white;
}

.specs tr:nth-child(even) {
    background-color: var(--color-light-grey);
}

.specs__search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1.5px solid var(--color-light-grey);
    border-radius: var(--border-radius);
}

/* REVIEWS */

.reviews {
    width: 100%;
    border-spacing: 0;
}

.review-bar {
    width: 56%;
    height: 8px;
    background-color: var(--color-light-grey);
    border-radius: 30px;
    position: relative;
}

.review-bar__fill {
    background-color: var(--color-green);
    position: absolute;
    border-radius: 30px;
    height: 8px;
}

/* INSURANCE  */

.insurance-img {
    height: 80px;
    padding: 25px;
}


/* RECOMMENDATIONS TABLE */

.recommendations {
    border-collapse: collapse;
}

.recommendation__product-title {
    font-size: 1.2em;
}

.recommendation--active {
    background-color: var(--color-lighter-blue);
}

.recommendations tr {
    border-bottom: 1px solid var(--color-light-grey);
}

.recommendations td {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid var(--color-light-grey);
}


/* INPUT */

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

/* TITLE */

.product-title {
    color: var(--color-dark-blue);
    font-size: 28px;
}

/* SUBTITLE */

.bold {
    font-weight: 900;
}

.small {
    font-size: 13px;
}

.grey {
    color: var(--color-grey);
}

.green {
    color: var(--color-dark-green);
}

.orange {
    color: var(--color-orange);
}

.blue {
    color: var(--color-cool-blue);
}

.black {
    color: var(--color-black);
}

/* BUTTON */

.btn-container {
    display: flex;
}

.btn {
    display: flex;
    padding: 15px;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.btn:hover {
    text-decoration: none;
}

.btn--green {
    background-color: var(--color-green);
    color: var(--color-white);
    border-bottom: 3px solid var(--color-dark-green);
}

.btn--green:hover {
    background-color: var(--color-dark-green);
}

.btn--light {
    background-color: var(--color-white);
    color: var(--color-cool-blue);
    border: 1px solid var(--color-cool-blue);
    border-bottom: 2px solid var(--color-cool-blue);
}

.btn--light:hover {
    border: 1px solid var(--color-dark-blue);
    border-bottom: 2px solid var(--color-dark-blue);
}

.btn--small {
    width: 15%;
}

.btn--rounded {
    border: 1px solid var(--color-light-grey);
    color: black;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px 17px;
    width: auto;
    margin-right: 5px;
}

.btn--rounded:hover {
    text-decoration: underline;
    border-color: var(--color-grey);
}

/* PRICE */
.price {
    font-size: 20px;
    font-weight: 700;
}

/* USP LIST */

.usp-list {
    padding: 0;
}

.usp-list__icon {
    display: flex;
    color: var(--color-green);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* GALLERY */

.gallery {
    width: 100%;
}

.gallery-img__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gallery__img {
    width: 50%;
    box-sizing: border-box;
}

.gallery__thumbnail-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gallery__thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-light-grey);
    border-radius: 3px;
    padding: 9px;
    font-size: 13px;
    cursor: pointer;
    width: 9%;
}

.gallery__thumbnail:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid var(--color-grey);
    text-decoration: none;
}

.gallery__thumbnail--selected, 
.gallery__thumbnail--selected:hover {
    border: 2px solid var(--color-cool-blue);
    box-shadow: none;
}

/* SLIDER */

.carousel-slider {
    position: relative;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-block-end: 7px;
}

.carousel-item.col-2 {
    grid-column: span 19;
}

.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel-button {
    border-radius: 50px;
    border: none;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.4em;
    font-family: monospace;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    width: 40px;
    height: 40px;
    pointer-events: all;
}

.carousel-button-prev {
    margin-left: 20px;
}

.carousel-button-next {
    margin-right: 20px;
}

.carousel-slider::-webkit-scrollbar-thumb {
    background: var(--color-cool-blue);
    border-radius: 10px;
}

.carousel-slider::-webkit-scrollbar {
    color: white;
    height: 8px;
    border-radius: 13px;
}

.horizontal-media-scroller {
    --size: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--size);
    gap: calc(var(--gap) / 2);
    padding-inline: var(--gap);
    padding-block-end: var(--gap);
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-padding-inline-start: var(--gap);
}

/* PROS CONS */

.pros-cons {
    list-style: none;
    padding: 0;
}

/* .pros-cons li {
    display: flex;
    align-items: center;
    margin: 5px 0px;
} */

/* HEADER */

.header {
    width: 100%;
    background-color: var(--color-cool-blue);
    color: var(--color-white);
    position: fixed;
    font-size: var(--font-size-big);
    z-index: 2;
    top: 0;
}

.header p {
    font-size: 13.5px;
}

.header h3 {
    font-size: 1.2em;
}

.header-top {
    max-width: var(--header-width);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.header-top_logo_container {
    display: flex;
    height: 100%;
    cursor: pointer;
    margin-right: 1.5rem;
    order: 1;
}

.header-top__logo {
    width: 80px;
}

.header-top__navigation {
    font-size: var(--font-size-small);
    margin-right: auto;
    margin-left: 0;
    cursor: pointer;
    order: 2;
}

.header-top__navigation:hover {
    background-color: var(--color-cool-blue-hover);
}

.header-top__navigation .arrow {
    margin-top: 4px;
}

.header-top__navigation.open {
    background-color: var(--color-white);
    color: var(--color-cool-blue);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    position: relative;
    z-index: 2;
}

.header-top__navigation.open:before {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 15px;
    left: 0;
    background-color: var(--color-white);
}

.header-top__navigation.open .header-top__navigation__dropdown {
    display: flex;
}

.header-top__navigation.open .icon.arrow {
    color: var(--color-cool-blue);
    transform: rotate(180deg);
}

.header-top__navigation__dropdown {
    display: none;
    position: fixed;
    justify-content: center;
    width: 100%;
    left: 0;
}

.header-top__navigation__dropdown__inner {
    display: flex;
    flex-direction: column;
    color: var(--color-cool-blue);
    width: var(--header-width);
    top: 9px;
    position: absolute;
}

.header-top__navigation__dropdown__inner h4 {
    padding: var(--padding-md);
    font-size: 15px;
    font-weight: 400;
}

.header-top__navigation__dropdown__inner h4:hover {
    background-color: var(--color-light-blue);
}

.header-top__navigation__dropdown__categories {
    width: var(--nav-category-width);
    background-color: var(--color-white);
    padding: var(--padding-md) 0px var(--padding-md) 0px;
    box-shadow: 0px 7px 20px #00000021;
}

.header-top__navigation__dropdown__category__items {
    display: none;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    right: 0; 
    width: calc(var(--header-width) - var(--nav-category-width));
    height: 100%;
    padding: var(--padding-lg);
    box-sizing: border-box;
    border-left: var(--border-light);
}

.header-top__navigation__dropdown__category__item {
    width: 25%;
    padding-bottom: var(--padding-xl);
}

.header-top__navigation__dropdown__category__item h3:hover,
.header-top__navigation__dropdown__category__item p:hover {
    text-decoration-line: underline;
}

.header-top__navigation__dropdown__category__item p {
    color: var(--color-black);
}

.header-top__navigation__dropdown__category:hover .header-top__navigation__dropdown__category__items {
    display: flex;
    background-color: var(--color-white);
    box-shadow: 6px 7px 15px #00000021;
}

.header-top__nav-toggle {
    display: none;
    padding: 0.2em 1em;
    cursor: pointer;
    left: 0;
    z-index: 2;
}

.header-top__nav-toggle__hamburger {
    display: block;
    position: relative;
}

.header-top__nav-toggle__hamburger::before,
.header-top__nav-toggle__hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.header-top__nav-toggle__hamburger,
.header-top__nav-toggle__hamburger::before,
.header-top__nav-toggle__hamburger::after {
    background: var(--color-white);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.header-top__nav-toggle__hamburger::before {
    top: 8px;
}

.header-top__nav-toggle__hamburger::after {
    bottom: 8px;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    top: 0;
    left: 0;
    width: 90%;
    box-shadow: var(--box-shadow);
}

.mobile-menu .arrow {
    color: var(--color-grey);
    transform: rotate(270deg);
    margin-right: 10px;
    margin-left: 0px;
}

.mobile-menu__top {
    display: flex;
    background-color: var(--color-cool-blue);
    color: var(--color-white);
    height: 52px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    align-items: center;
    justify-content: center;
}

.mobile-menu__top__title {
    flex-grow: 1;
}

.mobile-menu__categories {
    position: relative;
}

.mobile-menu__container {
    display: flex;
    flex-direction: column;
} 

.mobile-menu__category {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: var(--border-light);
    align-items: center;
}

.mobile-menu__category__content {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    pointer-events: none;
}

.mobile-menu__category__title {
    flex-grow: 1;
    text-align: left;
}

.mobile-menu__category .image-container {
    display: flex;
    overflow: hidden;
    height: 50px;
}

.mobile-menu__category img {
    margin-right: 1.3em;
    position: relative;
    margin-left: var(--padding-md);
}

.mobile-menu__item {
    display: flex;
    height: 42px;
    align-items: center;
    padding-left: 10px;
}

.header-top__nav-toggle:focus .mobile-menu {
    display: block; 
}

.mobile-menu__category__submenu {
    display: none;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    top: -8px;
    left: 0px;
    background-color: var(--color-white);
    width: 100%;
    z-index: 2;
}

.mobile-menu__category__submenu__inner {
    padding: var(--padding-md);
    width: 100%;
    box-sizing: border-box;
}

.mobile-menu__category__item.all-categories {
    display: none;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}

.mobile-menu__category__item.submenu {
    display: flex;
    height: 50px;
    align-items: center;
    padding-bottom: 15px;
}

.mobile-menu__category__item .arrow {
    transform: rotate(90deg);
}

.mobile-menu__category__submenu__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.mobile-menu__category__submenu__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 7px;
    pointer-events: none;
}

.mobile-menu__category__submenu__item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    text-align: left;
    pointer-events: none;
}

.mobile-menu__category__submenu__item p {
    padding-left: 10px;
    flex-grow: 1;
}

.mobile-menu__category__submenu__item::before {
    content: "";
    border-left: 3px solid var(--color-light-grey);
    top: 0;
    bottom: 0;
    height: 100%;
}

.mobile-menu__category__submenu__container, .mobile-menu__category__submenu__inner {
    pointer-events: none;
}

.mobile-menu__category__submenu__item__submenu {
    display: none;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    top: 0px;
    left: 0;
    padding-left: 10px;
    background-color: var(--color-white);
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.mobile-menu__customer {
    display: flex;
    flex-direction: column;

    z-index: 2;
    margin-top: -var(--submenu-height);
    background-color: var(--color-white);
}

/* MOBILE MENU FUNCTIONALITY */

.mobile-menu__category__submenu.open, 
.mobile-menu__category__submenu__item__submenu.open {
    display: flex;
}

.mobile-menu__category__item.all-categories.categories-open {
    display: flex;
}


/* SEARCH BAR*/

.searchbar {
    margin-left: 0;
    margin-right: auto;
    position: relative;
    order: 3;
    z-index: 2;
}

.searchbar__inner {
    height: 40px;
    width: 35rem;
    align-items: center;
    justify-content: flex-end;
}

.searchbar__input {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: none;
    padding-left: 15px;
}

.searchbar__input:focus {
    outline: none;
}

.searchbar__input__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.icon-container {
   position: absolute; 
}

.searchbar__exit {
    display: none;
}

.searchbar__dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    right: 0;
    top: 39px;
    justify-content: space-around;
    width: 100%;
    border-top: var(--border-light);
}

.searchbar__dropdown h4 {
    padding: var(--padding-lg);
}

.searchbar__dropdown p {
    font-size: var(--font-size-small);
    padding: var(--padding-lg);
    cursor: pointer;
}

.searchbar__dropdown p:hover {
    background-color: var(--color-light-blue);
}

.searchbar.open .searchbar__dropdown {
    display: flex;
}

.searchbar__cards {
    position: relative;
    padding: 0px var(--padding-lg);
    margin-bottom: 15px;
    width: auto;
    overflow: hidden;
}

.searchbar__viewport {
    width: 800px;
    display: flex;
}

.searchbar__card {
    flex-basis: 33.33%;
    max-width: 33.33%;
    border: var(--border-light);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--color-cool-blue);
    cursor: pointer;
    margin-right: 10px;
}

.searchbar__card:hover {
    border: var(--border-dark);
}

.searchbar__card img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    background-color: var(--color-light-blue);
}

/* USER: LANGUAGE ACCOUNT FAVORITE CART*/

.user__language:hover,
.user__wishlist:hover,
.user__cart:hover,
.user__account:hover {
    background-color: var(--color-cool-blue-hover);
}

.user.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 3em;
    order: 4;
}

/* LANGUAGE */

.user__language.short {
    display: none;
}

.user__language {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}

.user__language.long.NL {
    content: "Nederlands";
}

.user__language.short.NL {
    content: "NL";
}

/* ACCOUNT */

.user__account {
    font-weight: var(--font-weight-bold);
    position: relative;
}

.user__account__info {
    color: var(--color-white);
}

.user__account__dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    padding: var(--padding-lg);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    right: 0;
    top: 45px;
    min-height: 87px;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
}

.user__account__dropdown__button {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 15px 110px;
    border-radius: var(--border-radius);
    border-bottom: 3px solid var(--color-dark-green);
    cursor: pointer;
}

.user__account__dropdown__subtitle {
    font-weight: var(--font-weight-reg);
    text-align: left;
}

.user__account__dropdown__subtitle .coolblue {
    color: var(--color-cool-blue);
}

.user__account.open .user__account__dropdown {
    display: flex;
}

.user__account.open {
    background-color: var(--color-white);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    box-shadow: var(--box-shadow);
}

.user__account.open .user__account__info {
    color: var(--color-cool-blue);
}

.user__account.open .person {
    color: var(--color-cool-blue);
}

.user__account.open .arrow {
    color: var(--color-cool-blue);
    transform: rotate(180deg);
}

.user__account.open::after {
    content: "";
    position: absolute;
    top: 35px;
    width: 100%;
    height: 18px;
    left: 0;
    background-color: var(--color-white);
}

.user__account.logged-in .person {
    color: var(--color-orange);
}

/* WISHLIST */

.user__wishlist {
    align-items: center;
    background-color: transparent;
    border: none;
}

/* CART */

.user__cart {
    align-items: center;
    background-color: transparent;
    border: none;
    position: relative;
}

.user__cart__dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    align-items: flex-start;
    padding: var(--padding-md);
    padding-bottom: 0;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    right: 0;
    top: 45px;
    min-width: 455px;
}

.user__cart__dropdown__title {
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-blue);
    font-size:var(--font-size-h1);
}

.dot {
    color: var(--color-orange);
}

.user__cart__dropdown__subtitle {
    color: var(--color-cool-blue);
    font-size:var(--font-size-h2);
    padding-bottom: 1em;
}

.user__cart.open::after {
    content: "";
    position: absolute;
    top: 35px;
    width: 100%;
    height: 18px;
    left: 0;
    background-color: var(--color-white);
}

.user__cart.open .user__cart__dropdown {
    display: flex;
}

.user__cart.open {
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.user__cart.open .icon.cart {
    color: var(--color-cool-blue);
}

.user__cart.open .icon.arrow {
    color: var(--color-cool-blue);
    transform: rotate(180deg);
}

/* NAVIGATION */

.header-bottom.container {
    background-color: var(--color-lighter-blue);
}

.header-bottom__navigation {
    display: flex;
    list-style: none;
    min-width: 39.5rem;
    max-width: var(--header-width);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-small);
    font-weight: 600;
    padding: 0px 20px;
}

.header-bottom__navigation li {
    list-style-type: none;
    padding: 15px 0px;
    text-align: center;
}

.header-bottom__navigation li:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--color-cool-blue);
}

.header-bottom__navigation__dropdown_category {
    display: none;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    border: var(--border-light);
    color: black;
    text-align: left;
    font-weight: var(--font-weight-reg);
    background-color: var(--color-white);
}

.header-bottom__navigation__dropdown__category__item h3 {
    color: var(--color-cool-blue);
}

.header-bottom__navigation li:hover .header-bottom__navigation__dropdown_category {
    display: flex;
}

.header-bottom__navigation__dropdown_category__inner {
    display: flex;
    width: var(--header-width);
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
}

.header-bottom__navigation__dropdown__category__item {
    width: 25%;
    padding-bottom: var(--padding-lg);
    line-height: 1.6;
    cursor: pointer;
}

.header-bottom__navigation__dropdown__category__item p:hover,
.header-bottom__navigation__dropdown__category__item h3:hover {
    text-decoration-line: underline;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0090e30d;
    z-index: 1;
}

.overlay.active {
    display: flex;
}

@media screen and (max-width: 64rem) {
    .user__language.short {
        display: block;
    }

    .user__language.long,
    .user__account__info {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .grid-container {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
    }

    .row {
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    .hide\@lg {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 98px;
    }

    .header-top {
        padding: 0px;
        flex-wrap: wrap;
    }
    
    .header-top__nav-toggle {
        display: flex;
    }

    .header-top_logo_container {
        width: calc(var(--user-box-width) - 130px);
    }

    .searchbar {
        order: 5;
        z-index: 1;
        width: 100%;
        background-color: var(--color-light-grey);
        padding: 0px 5px;
        transition: top 2s ease;
    }

    .searchbar.open {
        top: -53px;
        z-index: 3;
    }

    .searchbar.open .searchbar__exit {
        display: flex;
        color: var(--color-cool-blue);
        font-size: var(--font-size-small);
        padding: 0px 20px;
    }

    .searchbar__inner {
        width: 100%;
    }

    .searchbar__input {
        height: 30px;
        border: var(--border-dark);
    }

    /* .searchbar .icon-container {
        background-color: var(--color-cool-blue);
        border-radius: 0px 3px 3px 0px;
    } */

    .searchbar .icon.search {
        color: var(--color-white);
        padding: 4px;
        width: 30px;
    }

    .user.container {
        padding-right: 10px;
    }

    .header-top__navigation,
    .user__language.short, 
    .header-bottom__navigation,
    .user__cart .arrow, .top-navigation, .breadcrumb-items {
        display: none;
    }

    .usp-bar {
        height: 25px;
    }

    .usp-bar-inner {
        justify-content: center;
    }

    .usp-bar__menu-items,
    .usp-bar__items .usp-bar__item:nth-of-type(2),
    .usp-bar__items .usp-bar__item:nth-of-type(3),
    .usp-bar__items .usp-bar__item:nth-of-type(4),
    .usp-bar__items .usp-bar__item:nth-of-type(5){
        display: none;
    }

    .col-2 {
        grid-column: span 6;
    }

    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-6.centered,
    .col-8.centered,
    .col-10.centered, 
    .col-7 + .col-4,
    .col-5 + .col-6,
    .col-3 + .col-8 {
        grid-column: span 12;
    }

    .img-big {
        width: 50%;
    }

    .card {
        padding: 10px;
    }

    .card h2 {
        font-size: 1.3em;
    }

    .main-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .hide\@sm {
        display: none;
    }
}